.newProject-container {
  background-color: #F0F2F5;
}

.content-container {
  padding: 20px;
}

/* 2nd navbar */
.navbar-bottom {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding-left: 20px;
  padding-right: 80px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-left {
  display: flex;
  align-items: center;
}

/* Buttons */
.custom-btn {
  background-color: white;
  color: black;
  border: none;
}

.custom-btn span {
  font-size: 30px;
}

.new-project-form Button[type="submit"] {
  margin-top: 10px;
}

/* Form */
.new-project-form {
  border-radius: 8px;
  background-color: #FFFFFF;
  margin-top: 20px;
  padding: 20px;
}

#projectName,
#description,
#projectManager,
#assignedTo,
#status {
  margin-bottom: 20px !important;
}

/* Responsive */
@media (max-width: 768px) {

  .navbar-bottom {
    height: 45px;
    padding-right: 20px;
  }

  .navbar-left {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }

  .projects-title {
    margin-left: 0px;
    font-size: 18px;
  }

  .navbar-right {
    margin-right: 10px;
  }

  .content-container {
    padding: 0;
    margin-left: 0;
  }

  .new-project-form {
    border-radius: 0px;
  }
}